
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Tinhtiendien</title>
</head>
<body>
    <div>
        <table border="1">
            <tr>
                <td>Tên chủ hộ :</td>
                <td>@ViewBag.ten</td>
            </tr>
            <tr>
                <td> Số điện tiêu thụ :</td>
                <td>@ViewBag.sodien</td>
            </tr>
            <tr>
                <td>Số tiền phải trả :</td>
                <td>@ViewBag.tiendien Đồng</td>
            </tr>
        </table>
    </div>
</body>
</html>
