
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div> 
        <h2>Nhập điểm sinh viên </h2>
        <form action="/NhapDiem/Xuly" method="post">

            <div> Mã Sinh viên :</div><input name="ID" />
            <div> Tên Sinh viên :</div><input name="Name" />
            <div> Điểm :</div><input name="Diem" />
            <br />
            <input type="submit" value="Nhập" />

        </form>
    </div>
</body>
</html>
