
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>
<table border="1" style="width:300px;height:300px;">
    <tr>
        <th colspan="2" style="padding-left:5px;">Thông tin sinh viên</th>
    </tr>
    <tr>
        <td style="padding-left:5px;">Mã SV:</td>
        <td style="padding-left:5px;">SV001</td>
    </tr>
    <tr>
        <td style="padding-left:5px;">Họ tên:</td>
        <td style="padding-left:5px;">Lê Thị Vân</td>
    </tr>
    <tr>
        <td style="padding-left:5px;">Ngày sinh:</td>
        <td style="padding-left:5px;">16-09-2003</td>
    </tr>
    <tr>
        <td style="padding-left:5px;">Quê quán</td>
        <td style="padding-left:5px;">Nam từ Liêm, Hà Nội</td>
    </tr>
</table>

