
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Luongve</title>
</head>
<body>
    <div>
        <table border="1">
            <tr>
                <td>Mã NV: </td>
                <td>@ViewBag.maNV</td>
            </tr>
            <tr>
                <td>Có ngày công: </td>
                <td>@ViewBag.ngayCong</td>
            </tr>
            <tr>
                <td>Tiền lĩnh: </td>
                <td>@ViewBag.tienLinh</td>
            </tr>
        </table>
    </div>
</body>
</html>
