
@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm())
            {
                @Html.ValidationSummary(true)
    <fieldset>
        <p>
            Ten the loai: 
            @Html.TextBox("Tentheloai")<font color="red"> @ViewData["Loi"]</font>
        </p>
        <p> <input  type="submit" value="Create"/></p>
    </fieldset>
            }
<div> @Html.ActionLink("Tro ve", "Index")</div>