
@{
    ViewBag.Title = "Index";
}

<h2>Caculate</h2>
@{ 
    var result = 0;
    var totalMessage = "";
    var number1 = "";
    var number2 = "";
    if (IsPost)
    {
        var calculation = Request["calc"];
        number1 = Request["text1"];
        number2 = Request["text2"];
        switch (calculation)
        {
            case "plus":
                result = number1.AsInt() + number2.AsInt();
                break;
            case "minus":
                result = number1.AsInt() - number2.AsInt();
                break;
            case "multiply":
                result = number1.AsInt() * number2.AsInt();
                break;
            case "divide":
                result = number1.AsInt() / number2.AsInt();
                break;
        }
        totalMessage = result.ToString() ;
    }
}
<form action="" method="post">
    <table>
        <tr>
            <td style="padding: 2px">
                <label>First number: </label>
            </td>
            <td style="padding: 2px">
                <input type="text" name="text1" value="@number1"/>
            </td>
        </tr>
        <tr>
            <td style="padding: 2px">
                <label>Second number: </label>
            </td>
            <td style="padding: 2px">
                <input type="text" name="text2" value="@number2"/>
            </td>
        </tr>
        <tr>
            <td style="padding: 2px">
                <label>Kết quả: </label>
            </td>
            <td style="padding: 2px">
                <p>
                    <input type="text" name="text3" value="@totalMessage" />
                </p>
            </td>
        </tr>
        <tr>
            <td colspan="2" style="padding: 2px">
                <input type="submit" value="plus" name="calc" />
                <input type="submit" value="minus" name="calc" />
                <input type="submit" value="multiply" name="calc" />
                <input type="submit" value="divide" name="calc" />
            </td>
        </tr>
    </table>

</form>