<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/wwwroot/CSS/Style.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <div id="page">
        <div id="header">
            <div id="logo">
                <img src="~/wwwroot/images/big_img.jpg" border="0" />&nbsp;&nbsp;
                <a href="">
                    <img src="~/wwwroot/images/logo.jpg" alt="Nhà sách Minh Sơn" border="0" />
                </a>

            </div>
            <div id="menung">
                <ul>
                    <li> <a href="/Home/Index"><span> Trang chủ</span> </a></li>
                    <li> <a href="/Home/About"><span> Giới thiệu</span> </a></li>
                    <li> <a href="/Home/Contact"><span> Liên hệ</span> </a></li>
                    <li> <a href="/Home/Product"><span> Sản phẩm </span> </a></li>
                </ul>
            </div>
        </div>

        <div id="main">
            <div id="left">
                <div id="menud">
                    <p>Danh mục sách</p>
                    <ul>
                        <li><a href=""> <span> Văn phòng </span></a></li>
                        <li><a href=""> <span> Ứng dụng </span></a></li>
                        <li><a href=""> <span> Lập trình </span></a></li>
                        <li><a href=""> <span> Ngoại ngữ </span></a></li>
                        <li><a href=""> <span> Tiểu học </span></a></li>
                        <li><a href=""> <span> Trung học cơ sở </span></a></li>
                        <li><a href=""> <span> Trung học phổ thông </span></a></li>

                    </ul>
                </div>
            </div>
            <div id="content">
                @RenderBody()
            </div>
        </div>

        <div id="footer">
            <p>
                &copy; Copyright : 2021<br />
                ASP.NET MVC project
            </p>
            <p>
                Học lập trình <br />
                Khoa CNTT - DHCN Hà Nội <br />
                Minh Khai , Từ Liêm , Hà Nội
            </p>
        </div>
    </div>
</body>
</html>
